# 配置Tomcat端口号
server:
  port: 9999
# 配置Spring Boot项目名
spring:
  application:
    name: xmall-server
# 配置Dubbo信息
  dubbo:
    application:
      name: xmall-server
    protocol:
      name: dubbo
      port: 20880
    registry:
      address: zookeeper://localhost:2181
    scan: com.augustars.xmall
# 配置使用JDK代理方式
  aop:
    proxy-target-class: true
# 配置数据库连接信息
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/xmall
    username: root
    password: java